numpy
scipy
tensorboard
librosa==0.9.2
numba==0.56.4
pytorch-lightning
gradio==3.38.0
gradio_client==0.8.1
ffmpeg-python
onnxruntime
tqdm
funasr==1.0.0
cn2an
pypinyin
g2p_en
torchaudio
modelscope==1.10.0
sentencepiece
pyopenjtalk
transformers
chardet
PyYAML
psutil
jieba_fast
jieba
LangSegment>=0.2.0
Faster_Whisper
wordsegment
openai
tiktoken 
langchain 
datasets
torch
flask
flask_cors
overrides==3.1.0
flask_caching
PyMuPDF>=1.19.0
python-docx>=0.8.10
fonttools>=4.24.0
numpy>=1.17.2
opencv-python>=4.5
fire>=0.3.0
ltp==4.1.3.post1
OpenCC
pypinyin
tqdm
azure-storage-blob